body{
  text-align: center;
  line-height: 1.5;
  background-color: #eee;
}

input{
  margin-top:10px;
  width:30%;
  height:45px;
  border-radius:5px;
  border:none;
}
.for{
  margin-top:10%;
}
.hide{
  display: none;
  width:60%;
  height:660px;
  float: left;
  margin-left: 0%;
  background-color: white;
}
